<section>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)" action="" class="flex justify-center items-center gap-12">
    <div class="flex flex-col">
      <label for="">Nome:</label>
      <input class="bg-white text-black" type="text" ngModel name="name" #nameProduct="ngModel">
    </div>

    <div class="flex flex-col">
      <label for="">Preço:</label>
      <input class="bg-white text-black" type="number" ngModel name="price" #PriceProduct="ngModel">
    </div>

    <div class="flex flex-col">
      <label for="">Categoria:</label>
      <select id="" class="bg-white text-black" ngModel name="category" #CategoryProduct="ngModel">
        @for (item of optionCategory; track $index) {
        <option value={{item}}>{{item}}</option>
        }

      </select>
    </div>

    <button class="bg-blue-300 px-6 py-1 rounded-2xl font-bold text-gray-200">Adicionar</button>
  </form>

  <section>
    <ul class="p-4">
      @for (item of list(); track $index; let idx = $index) {
      <li class="flex gap-4"><span class="text-white">{{item.name}}</span>
        <span>{{item.price | currency}}</span>
        <span>{{item.category}}</span>

        <button (click)="handleDelete(idx)" class="cursor-pointer font-bold bg-blue-200 px-1 rounded-full">X</button>
        <button class="cursor-pointer font-bold bg-red-200 px-1 rounded-full" (click)="handleEdit(idx, form)">E</button>



      </li>
      }

    </ul>
  </section>
</section>